*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom left, rgb(138, 163, 252) 1%, rgb(49, 93, 188));
}

nav{
    background-color: #ffe8de;
    width: 100%;
    height: 70px;
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.container .logo img{
    width: 100%;
    height: 50px;
    margin:none ;
    justify-content: center;
}



@media (max-width: 400px) {
    .list ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0%;
        left: 100px;
        width: 100%;
        background-color: var(--clr-main);
        text-align: center;
        z-index: 1;
    }

    .checkbtn {
        display: block;
        cursor: pointer;
    }

    #check:checked ~ .list ul {
        display: flex;
    }

    .list ul li {
        margin: 0;
        width: 100%;
    }

    .list ul li a {
        padding: 15px;
        display: block;
    }

    #home {
        flex-direction: column;
    }
}




/*media queries*/
@media (max-width:800px){
    .content{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }
    
    .main-content{
        margin: 0 10px;
    }
}

@media (min-width:884px){
    .content .image img{
        min-width: 500px;
    }
}

@media (max-width:440px){
    .links{
        display: none;
    }

    .image img{
        width: 100px;
        margin-right: none;
    }
}