*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

container{
    width: 90%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #cccccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 600px;
}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-if;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: rgb(138, 163, 252);
}


/*UPSIDE*/
header{
    flex-wrap: wrap;
    flex-direction: row;
    height: 55px;
    background-color: #f0f7f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items:center;
}


/*title*/
h1{
    flex-grow: 1;
    flex-basis: 20%;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'lucida handwriting', cursive;
    font-size: 28px;
    text-align: center;
    color: rgb(48, 70, 150);
    display: flex;
    align-items: center;
}


/*logo*/

.logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
}


.logo img{
    height: 50px;
    display: flex;
}

/*hole searching bar*/

.buscador{
    display: flex;
    height: 60px;
    margin-right: none;
    align-items: center;
}

p{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

/*submit button*/
button {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgba(48, 70, 150, 0.272);
    color: #ffffff;
    border: 4px solid rgb(48, 70, 150); 
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

/*searching bar*/
#busquedatienda{
    margin-left: 10px;
    display: flex;
    width:500%;
    height: 40px;
    background-color: rgba(48, 70, 150, 0.272);
    float: center;
    text-indent: 5px;
    border: 4px solid rgb(48, 70, 150); 
    box-sizing: border-box;
    border-radius: 20px;
}

/*text searching bar*/
::placeholder{
    color: white;
}