*{
    margin: 0px;
    padding: 8px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


html{
    background-color: #112;
}


body{
    width: 1000px;
    height: 1400px;
    margin: 2em auto;
    padding: 40px;
    border: 5px solid rgb(0, 0, 0);
    background: linear-gradient(to bottom left, rgb(250, 115, 137) 30%, rgb(51, 0, 32));
}


/*header*/
#header{
    padding: 60px;
    width: 100px;
    height: 100px;
    background-color: white;
    text-align: center;
    line-height: 10px;
    display: block;
    text-emphasis-color: #112;
    color: white;
}


/*menu*/
#menu{
    margin: 0;
    width: 1000px;
    height: 50px;
    display: block;
    background:  rgb(51, 0, 32);

}


#menu h1{
    color: white;
}


#menu ul li{
    display: block;
    float: left;
    padding: 8px;
    border: 2px solid rgb(255, 255, 255);
    border-bottom: none;
    border-top: none;
    text-align: center;
    transition: 1s;
}

#menu ul li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 100px;
}


#menu ul li:nth-child(1){
    border-left: none;
}


#menu ul li:nth-child(4){
    border-left: 3px solid rgb(0, 0, 0);
}


/*section left*/
#cajas{
    width: 600px;
    height: 1200px;
    float: left;
    text-align: center;
    line-height: 40px;
    border-right: 5px;
    border-right-style: solid 2px;
}


.caja{
    width: 210px;
    height: 210px;
    background-color: rgb(255, 205, 232);
    border: 2px solid rgb(175, 71, 127);
    border-radius: 50px;
    margin: 16px;
    margin-top: 10px;
    padding: 10px;
    float: left;
    display: block;
    text-align: center;
    align-items:center;
    line-height: 230px;
    color: white;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.667);
    transition: 3s;
    
}


.caja:hover{
    background: linear-gradient(0deg, rgb(200, 112, 139), rgb(107, 0, 37));
}

.caja:active{
    box-shadow: 2px 2px 20px #111a inset;
}


.caja-shadow{
    box-shadow: 2px 2px 20px #111a inset;
}


.caja p{
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 200px;
    color: rgb(114, 21, 37);

}

.caja p:hover{
    color: white;
}


/*lateral derecho*/
#lateral{
    color: rgb(155, 0, 52);
    font-size: 16px;
    font-style: italic;
    font-weight: 150;
    font-stretch: normal;
    margin-left: 2em;
    margin-right: 3em;
    margin-left: 2em;
    margin-top: 2rem;
    margin-bottom: 2em;
}


.texto-lateral h2,
p{
    text-align: justify;
    font-style: normal;
    font-size: 13px;
    color: rgb(0, 0, 0);
}


/*footer*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: white;
    font-size: 14px;
}



.clearfix{
    float: none;
    clear: both;
}